h1 {
  font-size: 3em;
  line-height: 1em;
  color: #fff;
  span {
    line-height: 1.5em;
    background-color: #008484;
    padding: 0 .4em;
    margin-left: 3px;
    box-sizing: border-box;
  }
}

.tna-breadcrumb {
  margin-top: 0;
  .container {
    .row {
      .col-md-12 {
        margin: .5em 0 0;
        .breadcrumbs {
          display: inline-block;
          color: #fff;
          padding: 3px 7px;
          background-color: #000;
          background-color: rgba(0,0,0,.5);
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.banner {
  background: no-repeat top center;
  background-size: 1600px auto;
}
.container:first-of-type {
  margin-top: 0;
}
.container {
  margin-top: 1.5em;
}
.parent-content {
  padding: 20px !important;
  background-color: #fff;
  h2 {
    padding: 0;
    display: block;
    line-height: 1.6;
    letter-spacing: -.025em;
    font-size: 1.6em;
    font-weight: 400;
    font-family: "Bitter", "Open Sans", arial, serif;
  }
}

.alignright {
  float: right;
  margin: 0 1em 1em 2em;
}

.wp-caption-text {
  display: block;
  color: #333;
  position: relative;
  font-size: .8em;
  clear: both;
  margin: .5em;
  text-align: center;
}

.cabinet-documents {
  height: auto;
  .thumbnail {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
  }
  .caption {
    position: absolute;
    bottom: 0;
    padding: .5em;
    background: rgba(0, 0, 0, 0.80);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    h2 {
      margin-top: 5px;
    }
    p {
      margin-bottom: .5em;
    }
  }
}

.cabinet-documents:nth-of-type(odd) {
  padding-left: 0;
  padding-right: 1px;
}

.cabinet-documents:nth-of-type(even) {
  padding-left: 1px;
  padding-right: 0;
}