h1 {
  font-size: 3em;
  line-height: 1em;
  color: #fff;
  margin-bottom: 1em;
  span {
    line-height: 1.5em;
    background-color: #008484;
    padding: 0 .4em;
    box-sizing: border-box;
  }
}

.row {
  div.col-md-6 {
    div.thumbnail {
      ul {
        margin-left: .5em;
      }
    }
  }
}

.thumbnail {
  border: none;
  border-radius: 0;
  padding: 1em;
}

.tna-breadcrumb {
  margin-top: 0;
  .container {
    .row {
      .col-md-12 {
        margin: .5em 0 0;
        .breadcrumbs {
          display: inline-block;
          color: #fff;
          padding: 3px 7px;
          background-color: #000;
          background-color: rgba(0,0,0,.5);
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.banner {
  background: no-repeat top center;
  background-size: 1900px auto;
}
.container:first-of-type {
  margin-top: 0;
}
.container {
  margin-top: 1.5em;
}
.parent-content {
  padding: 20px !important;
  background-color: #fff;
  h2 {
    padding: 0;
    display: block;
    line-height: 1.6;
    letter-spacing: -.025em;
    font-size: 1.6em;
    font-weight: 400;
    font-family: "Bitter", "Open Sans", arial, serif;
  }
}

.alignright {
  float: right;
  margin: 0 1em 1em 2em;
}

.wp-caption-text {
  display: block;
  color: #333;
  position: relative;
  font-size: .8em;
  clear: both;
  margin: .5em;
  text-align: center;
}

.cabinet-documents {
  position: relative;
  .thumbnail {
    padding: 0;
    border: none;
    a {
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .thumbnail:focus {
    background-color: #FCE45C;
    color: #000;
    outline: #ebab00 solid 3px;
    a:focus {
      background-color: #FCE45C;
      color: #000;
      outline: #ebab00 solid 3px;
    }
  }
  .caption {
    color: #fff;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.80);
    position: absolute;
    padding: 1em;
    width: 100%;
    a:hover {
      color: #0084b4;
    }
    a {
      display: block;
      h2 {
        margin-top: 5px;
        color: #0084b4;
      }
    }
    a:focus {
      background-color: #FCE45C;
      color: #000;
      outline: #ebab00 solid 3px;
    }
    p {
      margin-bottom: .5em;
    }
  }
}

section.container {
  padding: 2em;
  .row {
    .col-md-6 {
        div.thumbnail {
          border: none;
          border-radius: 0;
          .img-box {
            margin-bottom: 2em;
            .col-md-4 {
              margin-bottom: 2em;
              a {
                display: block;
              }
            }
          }
          p {
            padding-left: 15px;
            padding-top: 15px;
          }
        }
    }
  }
}

.breather {
  padding: 0;
}
footer {
  margin-top: 1.5em;
}

@media screen and (max-width: 480px) {
  /*.eye_caption {
    top: -4.5em;
  }*/
  .cabinet-documents .caption {
    margin-bottom: 0;
  }
  .img-box {
    .col-md-4 {
      a {
        img {
          width: 100%;
        }
      }
    }
  }
  .alignright {
    margin: 0;
  }
}

@media screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /*.eye_caption {
    top: -1.5em;
  }*/
  .cabinet-documents {
    .thumbnail {
      a {
        img {
          width: 100%;
        }
      }
    }
  }
  .img-box {
    .col-md-4 {
      a {
        img {
          width: 100%;
        }
      }
    }
  }
  .alignright {
    margin: auto;
    float: none;
    max-width: none !important;
    img {
      width: 100%;
    }
  }
}

@media print {
  .caption {
    background-color: #fff !important;
    width: 100%;
  }
}