$grey-background: #e1e2e2;
$grey-background-hex: rgba(225, 226, 226, 1);
$primary-blue: #0084B4;

.tna-breadcrumb {
  .breadcrumbs {
    background-color: transparent;
  }
}

h1 {
  margin-top: 0;
}

section.container {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 40px !important;
  .row {
    div.document-viewer {
      a {
        display: block;
      }
      div.overlay {
        .align-right:focus {
          color: #fff !important;
          display: block;
        }
      }
    }
  }
}
a.button.align-right:focus {
  color: #fff!important;
}

section.explore-records {
  background-color: $grey-background;
  h2 {
    margin-bottom: 60px;
  }
}

.document-viewer {
  width: 100%;
  height: auto;
  background: #ddd;
  padding: 1em 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
  a {
    div {
      width: 90%;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      min-height: 300px;
      background-size: cover !important;
      background: transparent center no-repeat;
      img {
        display: none;
      }
    }
  }
}

.button {
  float:right;
}
.overlay {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.66);
  color: #ddd;
  border: 5px solid rgba(0, 0, 0, -0.34);
  a:hover {
    color: black;
  }
}

#slider-prev {
  float: left;
  left: 20px;
}

#slider-next {
  float: right;
  text-align: left;
  right: 20px;
}

.bxslider {
  width: 635px;
  height: 205px;
}

.document-slide-thumb {
  width: 200px;
  height: 200px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-bottom: 10px;
}
.document-slide-thumb:hover {
  border: 2px solid $primary-blue;
}

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
}

.bxslider p {
  text-align: center;
}

.bx-wrapper .bx-viewport {
  background: none;
  border: none;
  box-shadow: none;
}

@media only screen and (min-width: 769px) {
  .document-viewer {
    a {
      div {
        min-height: 540px;
        img {
          display: none;
        }
      }
    }
  }
  .bx-controls {
    display: none;
  }
  #slider-next, #slider-prev {
    display: block;
    position: relative;
    top: 80px;
  }
  .disabled {
    display: none;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  #slider-prev, #slider-next {
    display: none;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #slider-prev, #slider-next {
    display: none;
  }
  .bx-controls {
    display: block;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #slider-prev, #slider-next {
    display: none;
  }
  .document-viewer {
    a {
      div {
        min-height: 250px;
      }
    }
  }
}

@media print {
  .document-viewer img {
    display: block !important;
    margin: 0;
  }
  .explore-records {
    display: none;
  }
}

//No JS
.no-js .bxslider {
  width: auto;
}
.no-js .bxslider a {
  float: left;
  margin: .2em;
}
.no-js .document-slide-thumb {
  width: 24em;
}