$grey-background: #e1e2e2;
$grey-background-hex: rgba(225, 226, 226, 1);
$primary-blue: #0084B4;
h1 {
    margin-top: 0;
}

section.container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 40px !important;
    .row {
        div.document-viewer {
            a {
                display: block;
            }
            div.overlay {
                .align-right {
                    border: 5px solid #26262a;
                    &:focus {
                        border: 5px solid #1d70b8;
                        background-color: #26262a;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

a.button.align-right:focus {
    color: #ffffff;
}

section.explore-records {
    background-color: $grey-background;
    h2 {
        margin-bottom: 60px;
    }
}

.document-viewer {
    width: 100%;
    height: auto;
    background: #ddd;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1em solid #ddd;
    max-height: 680px;
    a {
        div {
            padding: 1em;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            background-position: center top;
            background-size: cover !important;
            background: transparent no-repeat;
            img {
                width: 100%;
            }
        }
    }
    >a:hover {
        background: none;
    }
    .image_caption_back {
        a {
            display: inline-block !important;
        }
    }
}

.overlay {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000000;
    background: rgba(0, 0, 0, .66);
    color: #ddd;
    border: 5px solid #000000;
    border: 5px solid rgba(0, 0, 0, -0.34);
    margin-right: 1em;
    a:hover {
        color: black;
    }
    a.align-right:hover {
        background-color: #ffffff !important;
        color:#26262a;
    }
}

#slider-prev {
    float: left;
    left: 20px;
}

#slider-next {
    float: right;
    text-align: left;
    right: 20px;
}

.bxslider {
    width: 635px;
    height: 205px;
}

.document-slide-thumb {
    width: 200px;
    height: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-bottom: 10px;
}

.document-slide-thumb:hover {
    border: none;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
}

.bxslider p {
    text-align: center;
}

.bx-wrapper .bx-viewport {
    background: none;
    border: none;
    box-shadow: none;
}

section.container:last-of-type {
    margin-bottom: 2em;
}

@media screen and (min-width: 769px) {
    .bx-controls {
        display: none;
    }
    #slider-next,
    #slider-prev {
        display: block;
        position: relative;
        top: 80px;
    }
    .disabled {
        display: none;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #slider-prev,
    #slider-next {
        display: none;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #slider-prev,
    #slider-next {
        display: none;
    }
    .bx-controls {
        display: block;
    }
}

@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
    #slider-prev,
    #slider-next {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .feature-img .img-caption-top {
        top: 0;
    }
}

@media screen and (max-device-width: 420px) {
    #slider-prev,
    #slider-next {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #slider-prev,
    #slider-next {
        display: none;
    }
}

@media print {
    .explore-records {
        display: none;
    }
}

//No JS
.no-js .bxslider {
    width: auto;
}

.no-js .bxslider a {
    float: left;
    margin: .2em;
}

.no-js .document-slide-thumb {
    width: 24em;
}
