$grey-background: #e1e2e2;

.tna-breadcrumb {
  .breadcrumbs {
    background-color: transparent;
  }
}

h1 {
  margin-top: 0;
}

section.container {
  background-color: #fff;
  padding: 20px 40px !important;
}

section.explore-records {
  background-color: $grey-background;
  h2 {
    margin-bottom: 60px;
  }
}

.document-viewer {
  width: 100%;
  min-height: 540px;
  height: auto;
  background: #ddd;
  padding: 1em 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
  a {
    div {
      width: 90%;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      min-height: 540px;
      background-size: cover !important;
      background-color: transparent;
      background-position: center;
    }
  }
}

.button {
  float:right;
  display: inline-block;
}
.overlay {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.66);
  color: #ddd;
  border: 5px solid rgba(0, 0, 0, -0.34);
  a:hover {
    color: black;
  }
}

#slider-prev {
  float: left;
  left: 20px;
}

#slider-next {
  float: right;
  text-align: left;
  right: 20px;
}

.bxslider {
  width: 635px;
  height: 205px;
}

.document-slide-thumb {
  width: 200px;
  height: 200px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-bottom: 10px;
}

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
}

.bxslider p {
  text-align: center;
}

@media only screen and (min-width: 769px) {
 /* .bx-controls {
    display: none;
  }*/
  #slider-next, #slider-prev {
    display: block;
    position: relative;
    top: 80px;
  }
  .disabled {
    display: none;
  }
}